.devjack-modal-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    min-width: 100%;
    min-height: 100%;
}

.devjack-backdrop{
    background-color: #000000a1;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.devjack-msg-box{
    background-color: #fff;
    height: 50px;
    width: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.devjack-error-text{
    color: salmon;

}

.devjack-success-text{
    color: #4CAF50;
}